@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-light';
    src: url('/Fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('/Fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('/Fonts/Poppins-Regular.ttf') format('truetype');
}


*{
    box-sizing: border-box;
    font-size: 0.9vw;
    font-family: 'Poppins-Light';
    font-weight: bold;
    outline: none;
}

a{
    text-decoration: none;
    color: #6b1bc6;
}

body,html{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.confirmActive, .confirmDesactive{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35vw;
    height: 30vh;
    background-color: #6b1bc6;
    display: flex;
    justify-content: flex-end;
    border-radius: 8px;
    overflow: hidden;
}

.confirmContent{
    background-color: white;
    width: 34vw;
    height: 30vh;
    padding: 1vh 1vw;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    border: 1.5px solid lightgray;
}

.confirmHeader{
    font-size: 1.3vw;
    font-weight: bold;
    font-family: 'Poppins';
    border-bottom: 1.5px solid lightgray;
    width: 100%;
}

.confirmMain{
    font-size: 1vw;
    text-align: justify;
}

.purpleStrong{
    font-size: 1vw;
    font-family: 'Poppins';
    color: #6b1bc6;
}

.colorPurple{
    font-size: 1vw;
    color: #6b1bc6;
}

.confirmFotter{
    height: 6vh;
    width: 35vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.cancelBtt, .confirmBttInativar, .confirmBttAtivar{
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 0.9vw;
    border-radius: 8px;
    width: 7vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcAltStatusAtivar, .opcAltStatusInativar{
    display: none;
}


.cancelBtt{
    color: white;
    background-color: #6b1bc6;
    margin-right: 1vw;
    transition: 200ms;
}

.cancelBtt :hover{
    transform: scale(1.1);
}

.confirmBttInativar,.opcAltStatusInativar {
    border: 1.5px solid red;
    color: red;
    background-color: rgba(255, 0, 0, 0.164);
}

.confirmBttAtivar, .opcAltStatusAtivar{
    border: 1.5px solid green;
    color: green;
    background-color: rgba(0, 128, 0, 0.171);
}

.confirmBtt img{
    width: 1.2vw;
    margin-left: 0.3vw;
}
