@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-light';
    src: url('../Fonts/Poppins-Light.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    font-size: 95%;
    font-family: 'Poppins';
}

a{
    text-decoration: none;
    color: #6b1bc6;
}
/*Configs Gerais*/



body,html{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: space-between;
}

hr{
    width: 70%;
    background-color: lightgray;
    margin: 0 auto;
}

#sideBar{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.196);
}

#headerBar{
    background-color: #6b1bc6;
    border-radius: 0 0 10px 0;
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

#headerBar >img{
    width: 80%;
    height: 100%;
    

}

#opcsBar{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: white;
    width: 100%;
    height: fit-content;
}



.opcs{
    width: 85%;
    padding:5% 15% ;
    border-radius: 10px;
    margin: 10px 10px 10px 20px;
    text-align: justify;
    position: relative;
}

.iconOpc{
    position: absolute;
    left: 3%;
    top: 20%;
}

