.bttEdit{
    background-color: #6b1bc6;
    color: white;
    
    margin-bottom: 0.5vh;
    width: 6.12vw;
    height: 4.0vh;
    letter-spacing: 0.05vw;
    padding: 0.6vh 0.5vw 0.6vh 0.8vw;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: normal;
    font-family: 'Poppins';
    cursor: pointer;
}

.bttVisualizar{
    background-color: #ffffff;
    color: #6b1bc6;
    height: 4vh;
    width: 6.12vw;
    border: 1.5px solid #6b1bc6;
    padding: 0.5vh 0.5vw 0.5vh 0.8vw;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.opcUser img{
    width: 1vw;
}
