

@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-light';
    src: url('/Fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('/Fonts/Poppins-SemiBold.ttf') format('truetype');
}


*{
    box-sizing: border-box;
    font-size: 2.3vw;
    font-family: 'Poppins-Light';
    font-weight: bold;
    outline: none;
}

a{
    text-decoration: none;
    color: #6b1bc6;
}
/*Configs Gerais*/



body,html{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: space-between;
}

.modal{
    position: fixed;
    background-color: #6b1bc6;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#closeModal{
    background-color: lightgray;
    color: gray;
    width: 4vw;
    height: 5vh;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

#closeModal span{
    font-size: 3vw;
}

.defCompartilhamento{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    width: 97%;
    height: 100%;
    background-color: white;
    padding: 1vh 1vw;
}

.defHeader{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 1.6em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border-bottom: 1.5px solid lightgrey;
}

.defHeader span{
    align-self: flex-start;
    font-size: 1vw;
}

.defMain{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 1vh 0.5vw;
}

.defMain> p{
    font-size: 1.1em;
    width: 98%;
    text-align: justify;
    font-family: 'Poppins-light';
    font-weight: bold;

}

#pesqBox{
    width: 95%;
    height: 10vh;
    margin: 3vh 0;
    border: 1.5px solid lightgray;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 0 1vw;    
}

#pesqBox img{
    width: 5%;
}

#inputPesq{
    width: 80%;
    border: none;
}

#inputPesq::placeholder{
    color: rgb(186, 185, 185);
    font-family: 'Poppins';
    font-weight: normal;
}

.defUsers{
    display:flex;
    flex-flow: row wrap;
    width: 95%;
    height: 40%;
    border: 1.5px solid lightgray;
    border-radius: 8px;
    padding: 0 1vw;
}

.users{
    width: 60%;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid lightgray;
    padding-left: 1vw;
    font-size: 2.4vw;
}

.users img{
    width: 15%;
    height: 75%;
    border-radius: 5px;
    margin-right: 1vw;
}

.opcUser{
    width: 40%;
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1.5px solid lightgray;
    border-left: 1.5px solid lightgray;
}

.escolheTipo{
    height: max-content;
    width: 16vw;
    height: max-content;
    z-index: 900;
    display: none;
    position: absolute;  
    overflow: hidden;
    background-color: whitesmoke;
    padding: 1vh 0.8vw;
    border-radius: 8px;
    box-sizing: content-box;
}

#bttEdit2, #bttEdit3{
   display: none;
}

#bttVisualizar1{
    display: none;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    display: none;
    z-index: 0; 
}

.overlayModal{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    display: none;
    z-index: 0; 
}



.bttEdit{
    background-color: #6b1bc6;
    color: white;
    height: 10vh;
    margin-bottom: 0.5vh;
    width: 16vw;
    height: max-content;
    letter-spacing: 0.05vw;
    padding: 0.8vh 0.6vw 0.8vh 1.2vw;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-family: 'Poppins';
    cursor: pointer;
}

.bttVisualizar{
    background-color: #ffffff;
    color: #6b1bc6;
    height: max-content;
    width: 16vw;
    border: 1.5px solid #6b1bc6;
    padding: 0.5vh 0.5vw 0.5vh 0.8vw;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.opcUser img{
    width: 2vw;
    margin-left: 0.8vw;
}