@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-light';
    src: url('/Fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('/Fonts/Poppins-SemiBold.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    font-size: 0.9vw;
    font-family: 'Poppins';
    outline: none;
    outline: none;
}

body,html{
    width: 100vw;
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    
    align-items: center;
    background-color: rgba(0, 0, 0, 0.592);
}

.contentAbaPerfil{
    width: 20vw;
    height: 20vh;
    background-color: white;
    border: 1.5px solid lightgray;
    border-radius:0 0 8px 8px ;
    padding: 1vh 0.5vw;
    display: block;
}



.opcsPerfil{
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    color: #6b1bc6;
    
    height: 6vh;
}

hr{
    width: 50% ;
    margin: auto;
}

.opcsPerfil img{
    width: 2vw;
    height: 4vh;
    margin-right: 1vw;
    border-radius: 5px;
}

