@media screen and (max-width: 700px){
    @font-face {
        font-family: 'Poppins';
        src: url('../Fonts/Poppins-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Poppins-light';
        src: url('../Fonts/Poppins-Light.ttf') format('truetype');
    }
    
    *{
        box-sizing: border-box;
        font-family: 'Poppins';
    }
    
    html,body{
        width: 100vw;
        height: 100vh;
        margin: 0;
        
    }
    
    /* Parte de Login - Esquerda*/
    
    #login{
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-content:space-evenly;
        justify-content: center;
        flex-flow: row wrap;
    }
    
    #loginHeader{
        
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-content: space-around;
       
        width: 100vw;
        height: 18vh;
    }
  #logoImg{
        height: 10vh;
        margin: auto;
        text-align: center;
    }
    #logoImg{
        margin: auto;
        width: 80vw;
        height: 18vh;
    }

    
    
    #loginHeader>p{
        font-size: 3vw;
        
    }
    
    #loginHeader>hr{
        width: 50vw;
        color: lightgray;
        margin: auto;
    }
    
    #loginMain{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: flex-start;
        font-size: 3vw;
        width: 90vw;
    }
    
    
    .inputBox{
        margin: 0 auto 25px auto;
        width: 90vw;
        position: relative;
        
    }
    
    .inputLogin{
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 3vw 3vw 3vw 11vw;
        margin: auto;
        display: block;
        width: 90vw;
        outline:none;
        box-sizing: border-box;
        font-size: 3vw;
    }
    
    
    .inputIcons{
        width: 5vw;
        position: absolute;
        left: 3.5vw;
        top: 1.5vh;
        
    }
    
    .placeholder{
        color: rgb(180, 179, 179);
        
        top: 1.5vh;
        font-size: 2.8vw;
        position: absolute;
        left: 11vw;
        font-weight: 500;
        font-family: 'Poppins-light';
        transition: 200ms linear;
    }
    
    
    .inputBox:focus-within .placeholder, .inputLogin:valid ~ .inputLabel .placeholder{
        top: 0vw;
        left: 11vw;
        font-size: 2.5vw;
        color: #6e27a1;
        
    }
    
    #rec{
        display: flex;
        justify-content: right;
        margin: 8px 20px;
        color: #6e27a1;
    }
    
    #rec > a{
        color: #6e27a1;
    }
    
    #loginFooter{
        margin: auto;
    }
    
    #logBtt{
        padding: 2vw 10vw;
        border: none;
        border-radius: 8px;
        background-color: #8348c8;
        color: whitesmoke;
        font-weight: 600;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.133);
        transition: 300ms linear;
        font-size: 3vw;
    }
    
    #logBtt:hover{
        background-color: #6b228f;
        transform: scale(1.05);
    }
    
    #logBtt:active{
        transform: scale(0.9);
    }
    
    #onion{
        display: none;
    }


}