

@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-light';
    src: url('/Fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('/Fonts/Poppins-SemiBold.ttf') format('truetype');
}


*{
    box-sizing: border-box;
    font-size: 1vw;
    font-family: 'Poppins-Light';
    font-weight: bold;
    outline: none;
}

a{
    text-decoration: none;
    color: #6b1bc6;
}


.conteinerCadastra{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 80vh;
    background-color: #6b1bc6;
    display: flex;
    justify-content: right;
    border-radius: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.conteudoCadastra{
    width: 46vw;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1vh 1vw;
}

.cadHeader{
    height: 5vh;
    font-size: 1.5vw;
    border-bottom: 1.5px solid lightgray;
    margin-bottom: 3vh;
}

.cadMain{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 45vw;
    border-bottom: 1.5px solid lightgray;
}


.dadosHead{
    height: 12vh;
    width: 17vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-bottom: 2vh;
}
h2{
    color: #6b1bc6;
    width: 100%;
    font-family: 'Poppins-bold';
    font-size: 1.3vw;
    margin-bottom: 1.5vh;
}

#altFoto{
    background-color: #6b1bc61f;
    width: 4.5vw;
    height: 10vh;
    padding: 1.1vw;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.opcsPerfil{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: fit-content;
    height: 3vh;
    border: 1px solid lightgray;
    color: black;
    font-size: 0.8vw;
    
    border-radius: 5px;
    padding: 0 0.5vw;
}

.opcsIcons{
    width: 1vw;
    margin-right: 0.3vw;
}

#labelCheckbox{
    font-size: 0.8vw;
}

#inputsCad{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 4vh;
}

.title, .titleCards{
    padding: 0.5vh 0.5vw;
    width: 100%;
    background-color: #6b1bc6;
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
}

.title{
    margin-bottom: 2vh;
}

.titleLeft img{
    width: 2vw;
    margin-right: 0.5vw;
}

.inputArea{
    display: flex;
    flex-flow: column;
    margin: 0 0.5vw;
}

.inputBox{
    border: 1.7px solid rgb(183, 183, 183);
    height: 4vh;
    border-radius: 5px;
    margin-bottom: 3vh;
    font-family: 'Poppins-light';
    font-weight: bold;
    font-size: 0.8vw;
    padding-left: 0.5vw;
}

.inputLabel{
    color: #6b1bc6;
    font-family: 'Poppins-light';
    font-weight: bold;
    font-size: 0.9vw;
    
}

#inputNome, #inputMail, #fAcademica{
    width: 19vw;
}

#nasc, #estadoCivil{
    width: 14.9vw;
}

#userName{
    width: 11vw;
}

#end{
    width: 27vw;
}

#tel{
    width: 14.8vw;
}

#cargo{
    width: 24vw;
}

#inputIdade{
    width: 2.8vw; 
}

.dadosMain{
    display: flex;
    flex-flow: column wrap;
    width: 44vw;
    height: 8vh;
    justify-content: flex-start;
    align-content: space-between;
    
    

}   

.labelDados{
    color: #6b1bc6;
    font-size: 0.9vw;
    width: 20vw;
    height: 3vh;
    margin-bottom: 0.5vh;
}

.senhaBox{
    width: 21vw;
    height: 4vh;
    border: 1.7px solid rgb(183, 183, 183);
    border-radius: 5px;
    padding: 0.5vh 1vw;
    
}

.dadosFotter{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 15vh;

}

#checkboxAdmin{
    height: 2vh;
    width: 2vw;
}

.cardsCuriosidades{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    height: fit-content;
    margin-bottom: 5vh;
}

.titleLeft{
    font-size: 1vw;
    color: white;
    font-family: 'Poppins-bold';
    display: flex;
    align-items: center;
}

.titleRight{
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin-right: 0.5vw;
}

.fontBold{
    font-family: 'Poppins-bold';
    font-size: 1.2vw;
    margin: 0 0.5vw;
}

.nCuriosidades{
    background-color: white;
    color: #6b1bc6;
    width: 8.2vw;
    font-size: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    font-weight: normal;
    font-family: 'Poppins';
}


.addBox{
    background-color: white;
    border-radius: 5px;
    padding: 0.2vh 0.2vw ;
    cursor: pointer;
}

.conteudoCuriosidades{
    width: 100%;
    height: 6vh;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.idCuriosidade{
    width: 4vw;
    border-right: 1px solid lightgray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.idCuriosidadeStyle{
    background-color: #811ff1;
    color: white;
    padding: 0vh 0.8vw;
    border-radius: 20px;
    font-family: 'Poppins';
    font-weight: normal;
}

.tipoCuriosidade{
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
}

.cadFotter{
    height: 9vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#saveBtt{
    background-color: #6b1bc6;
    padding: 0.5vh 0.5vw;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 5vh;
    font-size: 1vw;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: normal;
    cursor: pointer;
}