@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-light';
    src: url('/Fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('/Fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('/Fonts/Poppins-Regular.ttf') format('truetype');
}


*{
    box-sizing: border-box;
    font-size: 0.9vw;
    font-family: 'Poppins-Light';
    font-weight: bold;
    outline: none;
}

a{
    text-decoration: none;
    color: #6b1bc6;
}
/*Configs Gerais*/



body,html{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: space-between;
}

hr{
    width: 12.5vw;
    background-color: lightgray;
    margin: 0 auto;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    display: none;
    z-index: 1; 
}

#sideBar{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.196);
}

#headerBar{
    background-color: #6b1bc6;
    border-radius: 0 0 10px 0;
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

#headerBar >img{
    width: 80%;
    height: 100%;
    

}

#opcsBar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: fit-content;
}

.txtOpcBar{
    font-size: 0.9vw;
    transition: 200ms linear;
    color: #6b1bc6;
}

.opcs{
    width: 15vw;
    padding:0.8vw 0vw 0.8vw 3vw;
    border-radius: 10px;
    margin: 0.5vw 0;
    text-align: justify;
    position: relative;
    transition: 200ms linear;
    cursor: pointer;
}

#config{
    background-color: #6b1bc6;
    transform: scale(1.05);
}

#config .txtOpcBar{
    color: white;
}

#config #imgWhite{
    z-index: 2;
}

#imgWhite{
    z-index: -1;
    transition: 200ms linear;
}
.opcs:hover{
    background-color: #6b1bc6;
    transform: scale(1.05);
}

.opcs:hover #imgWhite{
    z-index: 2;
}

.opcs:hover .txtOpcBar{
    color: whitesmoke;
}

.iconOpc{
    position: absolute;
    left: 10%;
    top: 50%;
    width: 1.5vw;
    transform: translate(-50%,-50%);
}

header{
    width: 71vw;
    height: 15vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}

#search{
    position: relative;
    width: 45vw;
    height: fit-content;
    align-self: center;
    
}

#pesq{
    border: 2px solid lightgray;
    border-radius: 6px;
    width: 45vw;
    height: 3vw;
    padding: 1vw 3vw;
    outline: none;
    
}

#inputIcon{
    width: 1.5vw;
}

#inputTxt{
    position: absolute;
    left: 0.5vw;
    top: 0.7vw;
}

#pesq::placeholder{
    font-family: 'Poppins-light';
    font-size: 0.9vw;
}

#icons{
   
    width: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-self: center;
}

#toggleBt{
    background-color: rgb(180, 179, 179);
    width: 35%;
    height: 50%;
    border-radius: 15px;
    display: flex;
    justify-content:flex-start;
    align-content: center;
    align-self: center;
}

#toggle{
    background-color: white;
    border-radius: 50%;
    width: 65%;
    border: 2px solid rgb(180, 179, 179);
    display: flex;
    
}
#notBox{
    display: flex;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 0.2vh 0.2vw;
}

#notIcon{
    width: 1.5vw;
}

#paintIcon{
    width: 100%;
    margin: auto;
}

.topPerfil{
    background-color: #7227c8;
    width: 15vw;
    height: 9vh;
    
    display: flex;
    border-radius: 10px;
    flex-flow: row;
    
    justify-content: space-evenly;
    align-content: center;
    margin-right: 20px;
}

#expandPerfil{
    cursor: pointer;
    width: 1vw;
}

#fotoPerfil{
    width: 22%;
    align-self: center;
    border-radius: 5px;
}

#infoPerfil{
    font-weight: normal;
    color: white;
    text-align: center;
    font-size: 0.8vw;
    display: flex;
    align-items: center;
}

/*Conteúdo principal da pag*/

.conteiner{
    width: 77.5vw;
    height: 85vh;

    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-between;

}

/*Conteudo Principal*/

.conteudo{
    
    width: 52vw;
    height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: flex-end;
}

.conteudoHeader{
    width: 40vw;
    height: 4vh;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-self: flex-end; 
}

.opcImg{
    width: 1.5vw;
    height: 2.3vh;
}

.opc{
    display: flex;
    flex-flow: row;
    align-items: center;
    font-family: 'Poppins';
    font-weight: normal;
    padding: 0 0.5vw 0 0.2vw;
    height:3vh;
    color: #6b1bc6;
    position: relative;
    border-radius: 15px;
    font-size: 0.85vw;
    transition: 200ms linear;
}

.opc:hover{
    background-color: #6b1bc637;
    transform: scale(1.1);
}

#opc1{
    background-color: rgb(107, 27, 198, 0.216);
    transform: scale(1.1);
}

#iframe{
    width: 100%;
    height: 74vh;
    
}

/*Barra lateral Direita*/

.dadosLateral{
    width: 24vw;
    height: 65vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
}

.dadosHead{
    height: 11vh;
    width: 17vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    
}
.dadosLateral>h2{
    color: #6b1bc6;
    width: 20vw;
    font-family: 'Poppins-bold';
    font-size: 1.15vw;
    margin-bottom: 1.5vh;
}

#altFoto{
    background-color: #6b1bc61f;
    width: 4.5vw;
    padding: 1.1vw;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.opcsPerfil{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: fit-content;
    height: 3vh;
    border: 1px solid lightgray;
    color: black;
    font-size: 0.8vw;
    margin-top: 1.7vh;
    border-radius: 5px;
    padding: 0 0.5vw;
}

.opcsIcons{
    width: 1vw;
    margin-right: 0.3vw;
}


.dadosMainPerfil{
    display: flex;
    flex-flow: row wrap;
    width: 25vw;
    justify-content: flex-start;
    align-content: space-around;
    height: 18vh;

}   

.labelDados{
    color: #6b1bc6;
    font-size: 0.8vw;
    width: 20vw;
}

.senhaBoxPerfil{
    width: 19vw;
    border: 1.5px solid lightgray;
    border-radius: 5px;
    padding: 0.5vh 1vw;
    margin-bottom: 2vh;
}

.dadosFotter{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    height: 15vh;
}


#labelCheckbox{
    font-size: 0.8vw;
}

#saveBttPerfil{
    background-color: #6b1bc6;
    padding: 1.4vh 1vw;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 19vw;
    height: 6vh;
    font-size: 1vw;
    border-radius: 8px;
    font-family: 'Poppins-regular';
}

#saveBtt> img{
    margin-right: 0.8vw;
}


.logoFotter{
    width: 19vw;
    height: 4vh;
    align-self: flex-end;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-right: 5vw;
    align-items: center;
    font-size: 0.8vw;

}

#logoForlogic{
    width: 12vw;
}

/*Modal de cadastrar curiosidade*/

.conteinerCadastra{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 80vh;
    background-color: #1b9617;
    display: none;
    justify-content: right;
    border-radius: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.conteudoCadastra{
    width: 46vw;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1vh 1vw;
}

.cadHeader{
    height: 5vh;
    font-size: 1.5vw;
    border-bottom: 1.5px solid lightgray;
    margin-bottom: 3vh;
}

.cadMain{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 45vw;
    border-bottom: 1.5px solid lightgray;
}

#togglePos{
    display: flex;
    flex-flow: column;
    width: 5vw;
    align-items: center;
}

#toggleSit{
    font-size: 0.8vw;
    width: fit-content;
}

#toggleBtSit{
    background-color: #1b9617;
    width: 2.5vw;
    height: 3vh;
    border-radius: 15px;
    display: flex;
    justify-content:flex-end;
    align-content: center;
    overflow: hidden;
}

#toggle{
    background-color: white;
    border-radius: 50%;
    width: 1.5vw;
    height: 2.9vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#statusIcon{
    width: 1vw;
    height: 2vh;
}

.dadosHead{
    height: 12vh;
    width: 17vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-bottom: 2vh;
}
h2{
    color: #6b1bc6;
    width: 100%;
    font-family: 'Poppins-bold';
    font-size: 1.3vw;
    margin-bottom: 1.5vh;
}

#altFoto{
    background-color: #6b1bc61f;
    width: 4.5vw;
    height: 10vh;
    padding: 1.1vw;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.opcsPerfil{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: fit-content;
    height: 3vh;
    border: 1px solid lightgray;
    color: black;
    font-size: 0.8vw;
    
    border-radius: 5px;
    padding: 0 0.5vw;
}

.opcsIcons{
    width: 1vw;
    margin-right: 0.3vw;
}

#labelCheckbox{
    font-size: 0.8vw;
}

#inputsCad{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 4vh;
}

.title, .titleCards{
    padding: 0.5vh 0.5vw;
    width: 100%;
    background-color: #6b1bc6;
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
}

.title{
    margin-bottom: 2vh;
}

.titleLeft img{
    width: 2vw;
    margin-right: 0.5vw;
}

.inputArea{
    display: flex;
    flex-flow: column;
    margin: 0 0.5vw;
}

.inputBox{
    border: 1.7px solid rgb(183, 183, 183);
    height: 4vh;
    border-radius: 5px;
    margin-bottom: 3vh;
    font-family: 'Poppins-light';
    font-weight: bold;
    font-size: 0.8vw;
    padding-left: 0.5vw;
}

.inputLabel{
    color: #6b1bc6;
    font-family: 'Poppins-light';
    font-weight: bold;
    font-size: 0.9vw;
    
}

#inputNome, #inputMail, #fAcademica{
    width: 19vw;
}

#nasc, #estadoCivil{
    width: 14.9vw;
}

#userName{
    width: 11vw;
}

#end{
    width: 27vw;
}

#tel{
    width: 14.8vw;
}

#cargo{
    width: 24vw;
}

#inputIdade{
    width: 2.8vw; 
}

.dadosMain{
    display: flex;
    flex-flow: column wrap;
    width: 44vw;
    height: 8vh;
    justify-content: flex-start;
    align-content: space-between;
    
    

}   

.labelDados{
    color: #6b1bc6;
    font-size: 0.9vw;
    width: 20vw;
    height: 3vh;
    margin-bottom: 0.5vh;
}

.senhaBox{
    width: 21vw;
    height: 4vh;
    border: 1.7px solid rgb(183, 183, 183);
    border-radius: 5px;
    padding: 0.5vh 1vw;
    
}

.dadosFotter{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 15vh;

}

#checkboxAdmin{
    height: 2vh;
    width: 2vw;
}

.cardsCuriosidades{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    height: fit-content;
    margin-bottom: 5vh;
}

.titleLeft{
    font-size: 1vw;
    color: white;
    font-family: 'Poppins-bold';
    display: flex;
    align-items: center;
}

.titleRight{
    display: flex;
    width: 23%;
    justify-content: space-around;
    margin-right: 1vw;
}

.fontBold{
    font-family: 'Poppins-bold';
    font-size: 0.8vw;
}

.nCuriosidades{
    background-color: white;
    color: #6b1bc6;
    font-size: 0.8vw;
    padding: 0.3vh 0.5vw;
    border-radius: 30px;
    font-weight: normal;
    font-family: 'Poppins';
}


.addBox{
    background-color: white;
    border-radius: 5px;
    padding: 0.2vh 0.2vw ;
    cursor: pointer;
}

.conteudoCuriosidades{
    width: 100%;
    height: 6vh;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.idCuriosidade{
    width: 4vw;
    border-right: 1px solid lightgray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.idCuriosidadeStyle{
    background-color: #811ff1;
    color: white;
    padding: 0vh 0.8vw;
    border-radius: 20px;
    font-family: 'Poppins';
    font-weight: normal;
}

.tipoCuriosidade{
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
}

.cadFotter{
    height: 9vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#saveBtt{
    background-color: #6b1bc6;
    padding: 0.5vh 0.5vw;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 5vh;
    font-size: 1vw;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: normal;
}

#saveBtt img{
    margin-right: 0.5vw;
}

/*Modal aba notificações*/

#notAba{
    position: fixed;
    top: 10.5%;
    left: 57%;
    background-color: white;
    padding: 0.5vh 0.3vw;
    width: 18vw;
    height: 39vh;
    border-radius: 8px;
    border: 1.5px solid lightgray;
    display: none;
    flex-flow: row wrap;
    align-content: space-between;
}

.notHeader{
    width: 100%;
    height: 3vh;
    border-bottom: 1.5px solid lightgray;
    font-size: 0.8vw;
    font-family: 'Poppins-bold';
    font-weight: normal;
    display: flex;
    align-items: center;
}

.notHeader span{
    background-color: #6b1bc6;
    border-radius: 50%;
    font-size: 0.6vw;
    color: white;
    font-weight: normal;
    font-family: 'Poppins';
    width: 1.2vw;
    padding: 0.1vh 0.4vw;
    margin-left: 0.5vw;
    
}

.notMain{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    height: 90%;
    width: 100%;
}

.notification{
    display: flex;
    flex-flow: column wrap;
    height: 19.5%;
    width: 100%;
    justify-content: center;
    align-content: space-around;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.notification img{
    width: 2.5vw;
    height: 5vh;
    border-radius: 8px;
}

.notInfos{
    font-size: 0.6vw;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    height: 4.5vh;
    width: 10vw;
    color: #a05eeb;
    
}

.notInfos p{
    font-size: 0.52vw;
    color: rgb(181, 181, 181);
    font-family: 'Poppins';
    font-weight: normal;
}

.sideTime{
    font-size: 0.5vw;
    width: 1vw;
    height: 5vh;
    color: #6b1bc6;
}

/* Modal aba Perfil */ 

#contentAbaPerfil{
    display: none;
    flex-flow: row wrap;
    position: fixed;
    top: 11%;
    left: 77.51%;
    
    width: 14.9vw;
    height: 20vh;
    background-color: white;
    border: 1.5px solid lightgray;
    border-radius:0 0 8px 8px ;
    padding: 1vh 0.5vw;
}

.opcsAbaPerfil, .opcsAbaPerfil a{
    font-size: 0.8vw;
    display: flex;
    margin: auto;
    align-items: center;
    color: #6b1bc6;
    width:90%;
    height: 6vh;
}

.opcsAbaPerfil a{
    width:100%;
}

.contentAbaPerfil hr{
    width: 70% ;
    margin: auto;
}

.opcsAbaPerfil img{

    margin-right: 1vw;
    border-radius: 5px;
}

.perfilIcon{
    width: 2vw;
    height: 4vh;
}

.imgIcons{
    width: 1.5vw;
    height: 3vh;
}

/* modal editar cadastro*/

.userEdit, .userCad{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 49vw;
    height: 90vh;
    background-color: #6b1bc6;
    display: none;
    justify-content: right;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.conteudoEdit{
    width: 46vw;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 1vh 1vw;
}

.editHeader{
    height: 5vh;
    font-size: 1.5vw;
    border-bottom: 1.5px solid lightgray;
    margin-bottom: 3vh;
}

.editMain{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 45vw;
    border-bottom: 1.5px solid lightgray;
}

.dadosHead{
    height: 12vh;
    width: 17vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    
}
h2{
    color: #6b1bc6;
    width: 100%;
    font-family: 'Poppins-bold';
    font-size: 1.3vw;
    margin-bottom: 1.5vh;
}

#altFoto{
    background-color: #6b1bc61f;
    width: 4.5vw;
    height: 10vh;
    padding: 1.1vw;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.opcsPerfil{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: fit-content;
    height: 3vh;
    border: 1px solid lightgray;
    color: black;
    font-size: 0.8vw;
    
    border-radius: 5px;
    padding: 0 0.5vw;
}

.opcsIcons{
    width: 1vw;
    margin-right: 0.3vw;
}

#labelCheckbox{
    font-size: 0.8vw;
}



h1{
    width: 100%;
    display: flex;
    height: 4vh;
    align-items: center;
    font-size: 1.3vw;
    color: #6b1bc6;
    font-family: 'Poppins-bold';
    margin: 2vh 0;
}

h1 img{
    width: 2vw;
    margin-right: 0.5vw;
}

.inputArea{
    display: flex;
    flex-flow: column;
    margin-right: 0.5vw;
}

.inputBox{
    border: 1.7px solid rgb(183, 183, 183);
    height: 4vh;
    border-radius: 5px;
    margin-bottom: 3vh;
    font-family: 'Poppins-light';
    font-weight: bold;
    font-size: 0.8vw;
    padding-left: 0.5vw;
}

.inputLabel{
    color: #6b1bc6;
    font-family: 'Poppins-light';
    font-weight: bold;
    font-size: 0.9vw;
    
}

#inputNome, #inputMail, #fAcademica{
    width: 20vw;
}

#nasc, #estadoCivil{
    width: 15.9vw;
}

#userName{
    width: 11vw;
}

#end{
    width: 27vw;
}

#tel{
    width: 16.3vw;
}

#cargo{
    width: 24vw;
}

#inputIdade{
    width: 2.8vw; 
}

.dadosMain{
    display: flex;
    flex-flow: column wrap;
    width: 44vw;
    height: 8vh;
    justify-content: flex-start;
    align-content: space-between;
    
    

}   

.labelDados{
    color: #6b1bc6;
    font-size: 0.9vw;
    width: 20vw;
    height: 3vh;
    margin-bottom: 0.5vh;
}

.senhaBox{
    width: 21vw;
    height: 4vh;
    border: 1.7px solid rgb(183, 183, 183);
    border-radius: 5px;
    padding: 0.5vh 1vw;
    
}

.dadosFotter{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 10vh;

}

#checkboxAdmin{
    height: 2vh;
    width: 2vw;
}

.editFotter{
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#saveBtt{
    background-color: #6b1bc6;
    padding: 0.5vh 0.5vw;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 5vh;
    font-size: 1vw;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: normal;
    cursor: pointer;
}

#saveBtt img{
    margin-right: 0.5vw;
}


/*Modal opção detalhes*/

.modalDetalhes{
    position: fixed;
    top: 48.5%;
    left: 75%;
    background-color: white;
    width: 10vw;
    height: fit-content;
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5vh 0.5vw;
    border-radius: 8px;
}

.opcAlt, .opcComp, .userComp, .opcRem,  .opcAltStatusInativar, .opcAltStatusAtivar{
    width: 95%;
    height: 4vh;
    border-radius: 8px;
    cursor: pointer;
}

.opcAlt, .opcComp, .opcRem,  .opcAltStatusInativar, .opcAltStatusAtivar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5vw;
    font-size: 0.8vw;
    margin-top: 0.5vh;
    font-weight: normal;
    font-family: 'Poppins';
}

.opcAlt{
    background-color: #6b1bc6;
    color: white;
}

.opcAlt img, .userComp img, .opcComp img, .opcRem img, .opcAltStatus img{
    width: 1.2vw;
   
}

.opcComp{
    border: 1px solid #6b1bc6;
    color: #6b1bc6;
    
}

.opcRem{
    background-color: red;
    color: white;
}

.userComp{
    border: 1.5px solid lightgray;
    display: none;
    flex-flow: row;
    align-items: center;
    
    justify-content: space-around;
}

.opcComp img{
    cursor: pointer;
}


.userComp input{
    width: 80%;
    border: none;
    font-size: 0.7vw;
}

.userComp input::placeholder{
    font-size: 0.65vw;
}

/*Style do modal Definição de compartilhamento*/
.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #6b1bc6;
    display: none;
    justify-content: right;
    width: 36vw;
    height: 68vh;
    border-radius: 10px;
    overflow: hidden;
}

#fechaModal{
    background-color: lightgray;
    color: gray;
    width: 1.5vw;
    height: 3vh;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.defCompartilhamento{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    width: 97%;
    height: 100%;
    background-color: white;
    padding: 1vh 1vw;
}

.defHeader{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 1.6em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border-bottom: 1.5px solid lightgrey;
}

.defHeader span{
    align-self: flex-start;
    font-size: 1vw;
}

.defMain{
    display: flex;
    flex-flow: row wrap;
    
    width: 38vw;
    padding: 1vh 0.5vw;
}

.defMain> p{
    font-size: 1.1em;
    width: 98%;
    text-align: justify;
    font-family: 'Poppins-light';
    font-weight: bold;

}

#pesqBox{
    width: 95%;
    height: 5vh;
    margin: 3vh 0;
    border: 1.5px solid lightgray;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 0 1vw;    
}

#pesqBox img{
    width: 1.8vw;
}

#inputPesq{
    width: 80%;
    border: none;
}

#inputPesq::placeholder{
    color: rgb(186, 185, 185);
    font-family: 'Poppins';
    font-weight: normal;
}

.defUsers{
    display:flex;
    flex-flow: row wrap;
    width: 95%;
    border: 1.5px solid lightgray;
    border-radius: 8px;
    padding: 0 1vw;
}

.users{
    width: 60%;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid lightgray;
}

.users img{
    width: 3vw;
    border-radius: 5px;
    margin-right: 1vw;
}

.opcUser{
    width: 40%;
    height: 8vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1.5px solid lightgray;
    border-left: 1.5px solid lightgray;
}

.escolheTipo{
    height: 9vh;
    width: 6.12vw;
    z-index: 900;
    display: none;
    position: absolute;  
    overflow: hidden;
    background-color: whitesmoke;
    padding: 0.6vh 0.3vw;
    border-radius: 8px;
    box-sizing: content-box;
}

#bttEdit2, #bttEdit3{
   display: none;
}

#bttVisualizar1{
    display: none;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    display: none;
    z-index: 0; 
}

.overlayModal{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    display: none;
    z-index: 0; 
}



.bttEdit{
    background-color: #6b1bc6;
    color: white;
    
    margin-bottom: 0.5vh;
    width: 6.12vw;
    height: 4.0vh;
    letter-spacing: 0.05vw;
    padding: 0.6vh 0.5vw 0.6vh 0.8vw;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: normal;
    font-family: 'Poppins';
    cursor: pointer;
}

.bttVisualizar{
    background-color: #ffffff;
    color: #6b1bc6;
    height: 4vh;
    width: 6.12vw;
    border: 1.5px solid #6b1bc6;
    padding: 0.5vh 0.5vw 0.5vh 0.8vw;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.opcUser img{
    width: 1vw;
}

/*Style modais de confirmação*/

.confirmActive, .confirmDesactive{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35vw;
    height: 30vh;
    background-color: #6b1bc6;
    display: flex;
    justify-content: flex-end;
    border-radius: 8px;
    overflow: hidden;
}

.confirmActive{
    display: none;
}

.confirmDesactive{
    display: none;
}

.confirmContent{
    background-color: white;
    width: 34vw;
    height: 30vh;
    padding: 1vh 1vw;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    border: 1.5px solid lightgray;
}

.confirmHeader{
    font-size: 1.3vw;
    font-weight: bold;
    font-family: 'Poppins';
    border-bottom: 1.5px solid lightgray;
    width: 100%;
}

.confirmMain{
    font-size: 1vw;
    text-align: justify;
}

.purpleStrong{
    font-size: 1vw;
    font-family: 'Poppins';
    color: #6b1bc6;
}

.colorPurple{
    font-size: 1vw;
    color: #6b1bc6;
}

.confirmFotter{
    height: 6vh;
    width: 35vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.cancelBtt, .confirmBttInativar, .confirmBttAtivar{
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 0.9vw;
    border-radius: 8px;
    width: 7vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcAltStatusAtivar, .opcAltStatusInativar{
    display: none;
}


.cancelBtt{
    color: white;
    background-color: #6b1bc6;
    margin-right: 1vw;
}

.confirmBttInativar,.opcAltStatusInativar {
    border: 1.5px solid red;
    color: red;
    background-color: rgba(255, 0, 0, 0.164);
}

.confirmBttAtivar, .opcAltStatusAtivar{
    border: 1.5px solid green;
    color: green;
    background-color: rgba(0, 128, 0, 0.171);
}

.confirmBtt img{
    width: 1.2vw;
    margin-left: 0.3vw;
}
