@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-light';
    src: url('/Fonts/Poppins-Light.ttf') format('truetype');
}


*{
    box-sizing: border-box;
    font-size: 1vw;
    font-family: 'Poppins-Light';
    font-weight: bold;
    outline: none;
}
/*Configs Gerais*/



body,html{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-between;
}

.returnBtt{
    height: 3vh;
    width: 25vw;
    color: #6b1bc6;
    border: 1px solid #6b1bc6;
    padding: 3.3vh 2vw;
    font-family: 'Poppins';
    display: flex;
    flex-flow: row;
    text-decoration: none;
    border-radius: 8px;
    align-items: center;
}

#replayImg{
    transform: scalex(-1);
    margin-right: 0.8vw;
}

/*Parte de cabeça do conteudo*/

.conteudoHeader{
    background-color: rgb(247, 247, 247);
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-flow: column wrap;
    justify-content:center ;
    align-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 0.5px solid rgb(172, 172, 172);
    
}

#inputs{
    height: 9vh;
    width: 65vw;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    
}

#date{
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(172, 172, 172);
}

#dataIn, #dataOut{
    border: none;
    
}

.estiloSelect{
    border-radius: 8px;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.4vw;
}

label{
    font-size: 1vw;
}

input{
    font-size: 1vw;
}

select{
    font-size: 1vw;
    
}

.posBtt{
    height: 10vh;
    width: 34vw;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-end;
    
}

.bttEstilo{
    padding: 0.5vw 2.5vw;
    border: 1px solid #6b1bc6;
    border-radius: 6px;
    font-family: 'Poppins';
    font-weight: normal;
    transition: 200ms linear;
}

#bttImprimir{
    color: white;
    background-color: #6b1bc6;
}

#bttLimpar, #bttFiltrar{
    background-color: white;
    color: #6b1bc6;
}

.bttEstilo:hover {
    transform: scale(1.1);

}

.conteudo{
    width: 100vw;
    height: 78vh;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;   

}

.cabecalho{
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around ;
    border: 0.5px solid rgb(172, 172, 172);
    border-radius: 8px;
    padding: 1vh 1vw;
    margin-bottom: 0.5vh;
    background-color: rgb(247, 247, 247);
}

#fontWeightCabecalho{
    font-family: 'Poppins';
}

.arrowDown{
    width: 1.5vw;
    height: 2.5vh;
}

.codColumn{
    width: 10vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    
}


.nomeColumn{
    width: 25vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    
}

.mailColumn{
    width: 15vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    
}

.createDateColumn{
    width: 15vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}

.tipoColumn{
    width:5vw ;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}

.listagem{
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start ;
    border-radius: 8px;
}

.cadDetalhes{
    text-decoration: none;
    color: black;
}

.cadastro{
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around ;
    border: 0.5px solid rgba(172, 172, 172, 0.514);
    border-radius: 8px;
    padding: 1vh 1vw;
    margin-bottom: 0.1vh;
}

.operador{
    background-color: #6b1bc696;
    font-size: 0.9vw;
    color: #ffffff;
    
    font-weight: normal;
    padding: 0vh 1vw;
    border-radius:20px;
}

.administrador{
    background-color: #6b1bc6;
    font-size: 0.9vw;
    color: rgb(255, 255, 255);
    
    font-weight: normal;
    padding: 0vh 1vw;
    border-radius:20px;
}

.paginacao{
    border: 0.5px solid rgb(172, 172, 172);
    border-radius: 8px;
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin-top: 0.2vh;
}

.pag{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 15vw;
    font-size: 0.8vw;
    margin-right: 1vw;
}

#adjustXDirection{
    transform: scaleX(-1);
    background: none;
    border: 2px solid lightgray;
}

.pagBtt{
    background:none;
    border-radius: 6px;
    width: 1.5vw;
    padding: 0.2vw;
    border: 2px solid lightgray;
}

/*Iframe*/

iframe{
    width: 75vw;
    height: 72vh;
    margin: none;
    background-color: aquamarine;
}

/*Fotter do conteúdo*/
.conteudoFotter{
    
    width: 20.1vw;
    height: 10vh;
    align-self: flex-end;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 0.8vw;
    margin-right: 1vw;
}

#logoForlogic{
    width: 15vw;
}



